
<mat-card class="user-card">
    <mat-card-header color="primary">
      <div mat-card-avatar class="header-avatar"></div>
      <mat-card-title>{{user.login}}</mat-card-title>
      <mat-card-subtitle>Type: {{user.type}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img  src={{user.avatar_url}} alt="Avatar for Github user {{user.login}}" class="user-avatar">
    </mat-card-content>
    <mat-card-actions  *ngIf="userActions">
      <a mat-button (click)="selectedGithubUser(user.login)" color="primary">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="outbound"></mat-icon>
        View {{user.login}} repos
      </a>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </mat-card>
