
.back-link{
    margin:0.5em 0;
    font-size:1em;
    padding-left:0;
}
.repos-container{
    display:flex;
    gap:1em
}
.mat-card-header-text{
    margin: 0 1em 0;
}

@media only screen and (max-width: 600px) {

    .repos-container{
        display:block;
        padding:0 0.5em;
    }

    h1, h2, .back-link{
        margin:0.5em
    }

}
