
.repos-container{
    display:flex;
    gap:1em

}

.mat-card-header-text{
    margin: 0 1em 0;
}

.selected-user{
    flex-grow:0;
}
.repo-list{
    flex-growth:1;
}


@media only screen and (max-width: 800px) {

    .repos-container{

        display:block;
        padding:0 0.5em;
    }

    h2{
        margin:0.5em
    }


}
